* {
    /* prevent (visible) text selection */
    user-select: none;

    /* prevent drap and drop */
    user-drag: none;
    -webkit-user-drag: none;
}

body {
    background-color: #202020;
    text-align: center;
    color: #F0F0F0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#waveform-viz {
    width: 100%;
}

#spectrogram-viz {
    width: 100%;
}

#transcription-viz {
    width: 100%;
}

.transcription-wrapper {
    margin-top: 1em;
}

.transcription {
    font-family: monospace;
    white-space: pre;
    margin-top: 0.5em;
    height: 5em;
}

#main {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 100%;
}

#waveform {
    margin: 20px;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    background-color: #FFFF20;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

#audio-controls {
    margin-top: 1em;
    margin-bottom: 1em;
}

#lang {
    width: 100%;
    border: none;
    padding: 20px;
    border-collapse: collapse;
}
