* {
    /* prevent (visible) text selection */
    user-select: none;

    /* prevent drap and drop */
    user-drag: none;
    -webkit-user-drag: none;
}

body {
    background-color: #202020;
    text-align: center;
    color: #F0F0F0;
    position: absolute;
    width: 1920px;
    min-height: 1080px;
    height: 100%;
    box-sizing: content-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-right: 1px solid white;
    overflow-x: hidden;
}

#scroll-area {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow-y: scroll;
    max-height: 100%;
}

#content {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-content: center;
    margin: auto auto 0 auto;
    padding: 20px;
}

#viz-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

#viz-container > * {
    display: inline-block;
    margin-top: 5px;
}

#viz-container > *:first-child {
    margin-top: inherit;
}

#viz-container > canvas {
    margin-left: 11px;
    margin-right: 11px;
}

.transcription-wrapper {
    margin-top: 1em;
}

.transcription {
    font-family: monospace;
    white-space: pre;
    margin-top: 0.5em;
    height: 5em;
}

#main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#main > * {
    margin-top: auto;
}

.flex-spacer {
    flex-grow: 1;
}

#waveform {
    flex-grow: 0;
    border-radius: 20px;
    padding: 10px 25px 10px 25px;
    background-color: #FFFF20;
    margin: auto 20px 0 20px;
    text-align: center;
    box-sizing: content-box;
    line-height: 0px;
}

#audio-controls {
    flex-basis: 0;
}

#language-controls {
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

#language-controls > * {
    margin-top: auto;
}

#audio-controls {
    display: flex;
    flex-direction: row;
}

#audio-controls > .active {
    color: red;
}

#audio-controls > * {
    margin-right: 10px;
}

#audio-controls > *:last-child {
    margin-right: 0;
}

#lang {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

#cursor-container {
    position: relative;
    box-sizing: content-box;
    margin-left: 11px;
    margin-right: 11px;
}

#cursor {
    visibility: hidden;
    pointer-events: none;
    box-sizing: content-box;
    position: absolute;
    width: 10px;
    height: calc(64px + 256px + 256px + 72px + 3 * 5px );
    bottom: 0px;
    border: 2px solid black;
    border-radius: 10px;
}

#network-viz {
    display: none;
}

#letter-probabilities > svg .grid * {
    stroke: rgb(0, 0, 0);
}

#letter-probabilities > svg .grid {
    opacity: 0.1;
}

#letter-probabilities > svg rect {
    fill: black;
}

#letter-probabilities > svg text {
    font-size: 9px;
    font-family: 'Inconsolata';
    text-anchor: middle;
}

#letter-probabilities > svg text.legend {
    fill: black;
}

#letter-probabilities > svg text.letters {
    fill: #FFFF20;
}
